<!-- main.hbs-->

<!-- 
Citation for the following file:
Date: 2/11/2024
Based on:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>
    {{!-- 
        Citation for the Navbar:
        Date: 2/25/2024
        Based on:
        Source URL: https://getbootstrap.com/docs/4.0/components/navbar/
    --}}
    <nav class="header">
        <a class="navbar-brand" href="/">League of Legends Stats Tracker</a><br>
        <ul class="navbar-list">
            <li><a href="/champions">Champions</a></li>
            <li><a href="/ranks">Ranks</a></li>
            <li><a href="/results">Results</a></li>
            <li><a href="/roles">Roles</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/matches">Matches</a></li>
            <li><a href="/playerMatches">PlayerMatches</a></li>
            <li><a href="/players">Players</a></li>
        </ul>
    </table>
    </nav>
    <div class="contents">
    {{{body}}}
    </div>
</body>
</html>