{{!--
Citation for the following file:
Date: 2/18/2024
Based on:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
--}}

<div id="browse" style="display: block">
    {{!-- Create a table --}}
    <h2>Browse Champions</h2>
    <table border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr>
                <td>{{this.championID}}</td>
                <td>{{this.championName}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="insert" style="display: block">
    <form id="addChampion">
        <legend><h3>Add Champion</h3></legend>
          <fieldset class="fields">
          <label> Champion Name </label> <input type="text" name="championName">
          </fieldset>
          <input class="btn" type="submit" id="addChampion" value="Add a Champion">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new champion-->
</div><!-- insert -->