<!-- 
  Citation for the following function:
  Date: 2/11/2024
  Adapted from: 
  Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/code-citation-tips?module_item_id=23809260
-->
<div id="delete">
  <form id="deletePlayer" method="POST" href="/playerMatches/{{this.player.playerID}}/delete">
      <legend><h3>Delete Player</h3></legend>
          <fieldset class="fields">
            <p>Are you sure you wish to delete the Player ID {{this.player.playerID}}?</p>
            <div class="field">
                <label> Player Name </label> 
                <input type="text" name="playerName" value="{{this.player.playerName}}" disabled>
            </div>
    </fieldset>
    <input class="btn" type="submit" id="DeletePlayer" value="Delete Player">
    <a class="btn" href="/players"><input class="btn" type="button" value="Cancel"></a>
  </form> 
</div><!-- delete -->