<!-- 
  Citation for the following function:
  Date: 2/11/2024
  Adapted from: 
  Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/code-citation-tips?module_item_id=23809260
-->

<div class="delete">
    <form id="deletePlayerMatch" method="POST" href="/playerMatches/{{this.playerMatch.playerMatchID}}/delete">
        <legend><h3>Delete PlayerMatch</h3></legend>
        <fieldset class="fields">
            <p>Are you sure you wish to delete the Player Match ID {{this.playerMatch.playerMatchID}}?</p>
            <div class="field">
                <label> Player Name </label> <input type="text" name="playerName" value="{{this.playerMatch.playerName}}" disabled>
            </div>
            <div class="field">
                <label> Match ID </label> <input type="number" name="matchID" value="{{this.playerMatch.matchID}}" disabled>
            </div>
        </fieldset>
        <input class="btn" type="submit" id="DeletePlayerMatch" value="Delete PlayerMatch">
        <a class="btn" href="/playerMatches"><input class="btn" type="button" value="Cancel"></a>
  </form> 
</div><!-- delete -->