<!-- 
  Citation for the following function:
  Date: 2/11/2024
  Adapted from: 
  Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327
-->
<div class="delete">
  <form id="deleteResult" method="POST" href="/results/{{this.result.resultID}}/delete">
      <legend><h3>Delete Result</h3></legend>
          <fieldset class="fields">
            <p>Are you sure you wish to delete Result ID: {{this.result.resultID}}?</p>
            <div class="field">
                <label> Result Name </label> 
                <input type="text" name="resultName" value="{{this.result.resultName}}" disabled>
            </div>
    </fieldset>
    <input class="btn" type="submit" id="DeleteResult" value="Delete Result">
    <a class="btn" href="/results"><input class="btn" type="button" value="Cancel"></a>
  </form> 
</div><!-- delete -->