<div class="error">
    <div>
        <h3>Error Message: </h3>
        <p>{{this.message}}</p>
    </div>
    <div class="sql-query">
        <h3>SQL Query: </h3>
        <p>{{this.sql}}</p>
    </div>
    <div class="code">
        <h3>SQL Error Code: </h3>
        <p>{{this.code}}</p>
    </div>
    <div class="sql-message">
        <h3>SQL Error Message:</h3>
        <p>{{this.sqlMessage}}</p>
    </div>
    
</div>