<!-- 
Citation for the following file:
Date: 2/11/2024
Based on:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
-->

<!-- index.hbs -->
<div id="about" style="display: block">
<h3>About This Project</h3>

In a typical LoL database, match history is automatically updated on-click via API to avoid the same match being re-entered more than once.
However, for the purposes of this course, this HTML site allows users to input their match history manually.<br><br>

Going to Player Matches will allow the user to perform CRUD operations.<br>
CRUD functionality will later be added to Matches and Players as well.<br>
Other tables will only allow the insertion of new entries.<br>

<h4>Designed by</h4>Dan Tran and Ngoc-Thao Ly for CS340_W2024<br><br>
</div>