<!-- 
  Citation for the following function:
  Date: 2/11/2024
  Adapted from: 
  Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/code-citation-tips?module_item_id=23809260
-->
<div class="insert">
    <form id="addPlayer" method="POST" action="/players/new">
        <legend><h3>Add Player</h3></legend>
          <fieldset class="fields">
            <div class="field">
                <label> Rank Name </label>
                <select name="rankID">
                    {{#each ranks}}
                        <option value="{{this.rankID}}">{{this.rankName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="field">
                <label> Player Name </label> 
                <input type="text" name="playerName">
            </div>
          </fieldset>
          <input class="btn" type="submit" id="addPlayer" value="Add Player">
          <a class="btn" href="/players"><input class="btn" type="button" value="Cancel"></a>
	</form> <!--add new player-->
</div><!-- insert -->