<!-- 
  Citation for the following function:
  Date: 2/11/2024
  Adapted from: 
  Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/code-citation-tips?module_item_id=23809260
-->
<div class="insert" style="display: block">
    <form id="addRank" method="POST" action="/ranks/new">
        <legend><h3>Add Rank</h3></legend>
          <fieldset class="fields">
            <div class="field">
                <label> Rank Name </label> 
                <input type="text" name="rankName">
            </div>
          </fieldset>
          <input class="btn" type="submit" id="addRank" value="Add Rank">
          <a class="btn" href="/ranks"><input class="btn" type="button" value="Cancel"></a>
	</form> <!--add new rank-->
</div><!-- insert -->