<!-- 
  Citation for the following function:
  Date: 2/11/2024
  Adapted from: 
  Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327
-->
<div class="insert" style="display: block">
    <form id="addResult" method="POST" action="/results/new">
        <legend><h3>Add Result</h3></legend>
          <fieldset class="fields">
            <div class="field">
                <label> Result Name </label> 
                <input type="text" name="resultName">
            </div>
          </fieldset>
          <input class="btn" type="submit" id="addResult" value="Add Result">
          <a class="btn" href="/results"><input class="btn" type="button" value="Cancel"></a>
	</form> <!--add new result-->
</div><!-- insert -->