<!-- 
  Citation for the following function:
  Date: 2/11/2024
  Adapted from: 
  Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327
-->
<div class="insert" style="display: block">
    <form id="addRole" method="POST" action="/roles/new">
        <legend><h3>Add Roles</h3></legend>
          <fieldset class="fields">
            <div class="field">
                <label> Role Name </label> 
                <input type="text" name="roleName">
            </div>
          </fieldset>
          <input class="btn" type="submit" id="addRole" value="Add Role">
          <a class="btn" href="/roles"><input class="btn" type="button" value="Cancel"></a>
	</form> <!--add new result-->
</div><!-- insert -->