<!-- 
  Citation for the following function:
  Date: 2/11/2024
  Adapted from: 
  Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327
-->
<div class="insert" style="display: block">
    <form id="addTeam" method="POST" action="/teams/new">
        <legend><h3>Add Team</h3></legend>
          <fieldset class="fields">
            <div class="field">
                <label> Team Name </label> 
                <input type="text" name="teamName">
            </div>
          </fieldset>
          <input class="btn" type="submit" id="addTeam" value="Add Team">
          <a class="btn" href="/teams"><input class="btn" type="button" value="Cancel"></a>
	</form> <!--add new result-->
</div><!-- insert -->