<h1>League of Legends Stats Tracker</h1>
[ <a href="/">Home</a> ]<br>
[ <a href="champions">Champions</a> | <a href="ranks">Ranks</a> | <a href="results">Results</a> | <a href="roles">Roles</a> | <a href="teams">Teams</a> ]<br>
[ <a href="matches">Matches</a> | <a href="playerMatches">PlayerMatches</a> | <a href="players">Players</a> ]

<div id="browse" style="display: block">
    {{!-- Create a table --}}
    <h2>Browse Ranks</h2>
    <table border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr>
                <td>{{this.rankID}}</td>
                <td>{{this.rankName}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="insert" style="display: block">
    <form id="addRank">
        <legend><strong>Add Rank</strong></legend>
          <fieldset class="fields">
            <label> Rank Name </label> <input type="text" name="rankName">
          </fieldset>
          <input class="btn" type="submit" id="addRank" value="Add a Rank">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new rank-->
</div><!-- insert -->