<div class="error">
    <div>
        <h3>Success: </h3>
        <p>You have successfully {{this.operation}} {{this.successes}} record(s).</p>
    </div>
    <div>
        <a class="redirect" href="{{this.back.url}}">
            Go back to {{this.back.label}}
        </a>
    </div>
</div>