<div id="browse" style="display: block">
    {{!-- Create a table --}}
    <h2>Browse Roles</h2>
    <table border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr>
                <td>{{this.teamID}}</td>
                <td>{{this.teamName}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="insert" style="display: block">
    <form id="addTeam">
        <legend><h3>Add Team</h3></legend>
          <fieldset class="fields">
            <label> Team Name </label> <input type="text" name="teamNameasdf">
          </fieldset>
          <input class="btn" type="submit" id="addTeam" value="Add a Team">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new role-->
</div><!-- insert -->