<!-- 
  Citation for the following function:
  Date: 2/11/2024
  Adapted from: 
  Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327
-->
<div class="update">
  <form id="updateChampion" method="POST" action="/champions/{{this.champion.championID}}/edit">
      <legend><h3>Update Champion</h3></legend>
          <fieldset class="fields">
            <div class="field">
                <label> Champion ID </label> <input type="text" name="championID" disabled value="{{this.champion.championID}}">
            </div>
            <div class="field">
                <label> Champion Name </label> 
                <input type="text" name="championName" value="{{this.champion.championName}}">
            </div>
    </fieldset>

    <input class="btn" type="submit" id="updateChampion" value="Update Champion">
    <a class="btn" href="/champions"><input class="btn" type="button" value="Cancel"></a>
  </form> 
</div><!-- update -->