/* font settings */

@font-face {
	font-family: Beaufort;
	src: url("/assets/BeaufortforLOL-Regular.ttf") format("truetype");
}
@font-face {
	font-family: Beaufort;
	font-weight: bold;
	src: url("/assets/BeaufortforLOL-Bold.ttf") format("truetype");
}
@font-face {
	font-family: Spiegel;
	src: url("/assets/Spiegel_TT_Regular.ttf") format("truetype");
}

/* Generic Settings */

*{
	box-sizing: border-box;
}

body {
	width: 100%;
	padding: 0 2rem;
	margin: 0;
	font-family: Spiegel;
	font-size: 18px;
	background-image: url("/assets/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	min-height: 1500px;
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1, h2, h3, h4, h5, h6 { font-family: Beaufort; }

a {
	color: #0AC8B9;
	text-decoration: none;
}

a:hover { color: #785A28; }

table {
	background: rgba(9,20,40,0.9);
	color: white;
	width: 100%;
	min-width: 800px;
}

th,td{
	padding: .5rem;
}

/* Navbar settings */

.header { 
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;
	background: rgba(9,20,40,0.9);
	border-radius: 10px;
	margin: 0;
}

.navbar-brand{
	color: #C89B3C;
	font-weight: bold;
	font-size: 24px;
	padding: 0 1rem;
}

.navbar-list{
	display: flex;
	list-style-type: none;
	flex-direction: row;
	color: white;
	font-size: 18px;
	text-align: center;
	padding: 0 1rem;
	row-gap: .25rem;
}

.navbar-list li a{
	color: white;
	font-size: 18px;
	text-align: center;
	padding: 1rem;
	height: 1rem;
	border: 1px solid white;
	border-top: none;
	border-bottom: none;
	border-left: none;
	transition: .2s ease-in-out;
}

.navbar-list li:last-child a{
	border-right: none;
}

.navbar-list li a:hover{
	color: #785A28;
	background-color: #C89B3C;
}


.contents {
	margin-top: .5rem;
	padding: 0 2rem;
	max-width: 1200px;
	width: 100%;
}

/* Form Settings */
.insert, .update, .delete, #about {
	width: 100%;
	background: rgba(255,255,255,0.5);
	border: solid white;
	padding: .5rem 2rem;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
}

.fields {
	border-style: solid;
	border-color: rgba(9,20,40,0.9);
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: .5rem;
	border-width: thin;
}

.field input, select {
	font-size: 18px;
	width: 100%;
	padding: .5rem .5rem;
	margin-top: .25rem;
}

.btn {
	font-family: Spiegel;
	background: rgba(255,255,255,0.8);
	width: 100%;
	border: none;
	border-radius: 10px;
}

.btn:active {
	background: rgba(255,255,255,0.3);
}

input {
	font-size: 18px;
	margin: .5rem 0;

}

/* SQL Error Message */
.error {
	width: 100%;
	background: rgba(255,255,255,0.5);
	border: solid #091428;
	padding: .5rem 1rem;
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.error div {
	margin-bottom: 1rem;
}

.new {
	text-align: center;
}

#about {
	border-color: rgba(9,20,40,0.9);
}